{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-1",
    "react"
  ],
  "plugins": ["es6-promise","transform-decorators-legacy","react-require"],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
