{
  "presets": [
    "latest",
    "react",
    "stage-2"
  ],
  "plugins": ["es6-promise","transform-decorators-legacy","react-require"],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
