<div>
    <form name="itemForm" ng-submit="vm.addItem()">
        <div class="test-form-input">
            <label for="test-form-name">Name : </label>
            <input id="test-form-name" ng-model='vm.model.name' required type="text"/>
        </div>
        <div class="test-form-input">
            <label for="test-form-description">Description :</label>
            <textarea id="test-form-description" required ng-model="vm.model.desc"></textarea>
        </div>
        <div>
            <button type="submit" ng-disabled="itemForm.$invalid">Add an item</button>
        </div>
    </form>
    <item-single ng-repeat="item in vm.items" item="item"></item-single>
</div>